
# ALIASES
alias ah="atuin search -i"
alias vim=nvim
alias zc="nvim ~/.zshrc"
alias v=nvim
alias y=yazi
alias sz="source ~/.zshrc"
alias zf='cd "$(zoxide query -i)"'
alias ll="eza -l --icons=always"
alias la="eza -l -a --icons=always"
alias tc="nvim ~/.config/tmux/tmux.conf"
alias lzd="lazydocker"
alias lg="lazygit"
alias humble_dev="distrobox-enter humble_dev"


#list
# alias ls='ls --color=auto'
# alias la='ls -a'
# alias ll='ls -alFh'
# alias l='ls'
# alias l.="ls -A | egrep '^\.'"
alias listdir="ls -d */ > list"

#pacman
alias sps='sudo pacman -S'
alias spr='sudo pacman -R'
alias sprs='sudo pacman -Rs'
alias sprdd='sudo pacman -Rdd'
alias spqo='sudo pacman -Qo'
alias spsii='sudo pacman -Sii'


# Source Files common to all shells 
alias sesp='source $HOME/esp/esp-idf/export.sh'
